 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 192px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 20px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
} .u-section-2 {
  background-image: url("images/035C2891-F95E-4206-A773-760B8F28AE70.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 222px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 90px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 19px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
    margin-bottom: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 90px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 26px 110px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: 12px 10px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 141px;
  }
}.u-block-5e0c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5e0c-3 {
  position: absolute;
  left: 0;
}

.u-block-5e0c-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: url("images/1257AFB2-29CD-4665-9BC1-320883E6199B.jpeg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 725px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 290px;
  }
}

 .u-section-5-2 {
  background-image: url("images/AC920C10-B395-4D57-BFC0-5AADE9C32589.jpeg");
  background-position: 50% 50%;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 725px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-5-3 {
  background-image: url("images/70370283-C3C1-46AC-A0CB-56A0186EC22B.jpeg");
  background-position: 50% 50%;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 725px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-5-4 {
  background-image: url("images/6627AFB6-0F68-4087-8A05-25E00B596176.jpeg");
  background-position: 50% 50%;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 725px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-5-5 {
  background-image: url("images/6375D472-22E2-4C87-A049-93C607114993.jpeg");
  background-position: 50% 50%;
}

.u-section-5-5 .u-sheet-1 {
  min-height: 725px;
}

@media (max-width: 1199px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-5-6 {
  background-image: url("images/CF8A6A85-E1B9-462E-90CB-C2C580E1458D.jpeg");
  background-position: 50% 50%;
}

.u-section-5-6 .u-sheet-1 {
  min-height: 725px;
}

@media (max-width: 1199px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 500px;
  }
}

 .u-section-5-7 {
  background-image: url("images/834969F4-F500-46B3-A904-A4D70ECBC5C8.jpeg");
  background-position: 50% 50%;
}

.u-section-5-7 .u-sheet-1 {
  min-height: 725px;
}.u-section-6 .u-sheet-1 {
  min-height: 22px;
}.u-section-7 .u-sheet-1 {
  min-height: 250px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  min-height: 374px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/C6C67995-ABF0-4C31-A466-203A61D98031.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-image-2 {
  background-image: url("images/43639513-C23D-411A-98BB-B70669D66091.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-image-3 {
  background-image: url("images/F8633E69-F8AB-4598-884B-5E8751451764.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-image-4 {
  background-image: url("images/04D7D848-6DEF-4B01-AB01-E132E96EF74E.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-image-5 {
  background-image: url("images/B5468451-F5F4-4192-8A7D-C25397E24878.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-image-6 {
  background-image: url("images/2F172E42-0665-40A7-8029-4F7945839B76.gif");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 531px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 22px;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 92px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-9 .u-text-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 230px;
}

.u-section-10 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 628px;
}

.u-section-11 .u-list-1 {
  margin-bottom: 34px;
  margin-top: 26px;
}

.u-section-11 .u-repeater-1 {
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 568px;
}

.u-section-11 .u-image-1 {
  background-image: url("images/66314A6A-0F05-4DE3-8044-1C42CBA14DB4.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 10px;
}

.u-section-11 .u-image-2 {
  background-image: url("images/BC1F2102-D5B8-45E8-83D5-538B6C8ED5F0.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 10px;
}

.u-section-11 .u-image-3 {
  background-image: url("images/02A88DCF-E7D2-4B4C-9C14-2BA2C0FD52BF.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-3 {
  padding: 10px;
}

.u-section-11 .u-image-4 {
  background-image: url("images/DA8D5F79-53FD-4953-984A-7E5AD5156878.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-4 {
  padding: 10px;
}

.u-section-11 .u-image-5 {
  background-image: url("images/5521A8DF-047A-4222-954A-7DAF0963541E.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-5 {
  padding: 10px;
}

.u-section-11 .u-image-6 {
  background-image: url("images/428CE728-05BB-4050-8724-1F3EF76E2373.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-6 {
  padding: 10px;
}

.u-section-11 .u-image-7 {
  background-image: url("images/73936748-770C-4AAD-BE94-BD39F3F4A15E.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-7 {
  padding: 10px;
}

.u-section-11 .u-image-8 {
  background-image: url("images/FE561DCF-AB33-4461-A5BC-59EB67336CD9.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-8 {
  padding: 10px;
}

.u-section-11 .u-image-9 {
  background-image: url("images/2F172E42-0665-40A7-8029-4F7945839B76.gif");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-9 {
  padding: 10px;
}

.u-section-11 .u-image-10 {
  background-image: url("images/63432B98-62F9-4DBC-9098-22551DF1C32C.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-10 {
  padding: 10px;
}

.u-section-11 .u-image-11 {
  background-image: url("images/2E70CC96-0418-4540-8A3B-5AD6144DFB3A.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-11 {
  padding: 10px;
}

.u-section-11 .u-image-12 {
  background-image: url("images/032B4C7E-5528-47A8-BCFE-2805EB7850E0.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-12 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-11 .u-list-1 {
    margin-bottom: 26px;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 468px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1434px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 90px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 24px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 196px;
}

.u-section-13 .u-text-1 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-13 .u-text-2 {
  font-size: 1.5rem;
  margin: 12px 0 20px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-13 .u-btn-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .u-section-13 .u-btn-1 {
    font-size: 1.25rem;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 90px;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  margin: 19px auto;
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 500px;
}

.u-section-15 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-15 .u-custom-html-1 {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    min-height: 850px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-15 .u-custom-html-1 {
    min-height: 818px;
    margin-top: 0;
    margin-right: 14px;
    margin-left: -14px;
  }
}